---
import { getEntry, render } from "astro:content";
import GenericContent from "@/layouts/GenericContent.astro";
import GridContainer from "@/layouts/GridContainer.astro";
import RootLayout from "@/layouts/RootLayout.astro";
import Faq from "@/components/about/Faq.astro";

const entry = await getEntry("pages", "about");
if (!entry) return Astro.redirect("/404");
const { Content } = await render(entry);
---

<RootLayout title={`${entry.data.title} | AM25`}>
    <!-- <GridContainer class="mb-4">
        <div class="col-span-full">
            <img
                src="placeholder.svg"
                alt="Cover"
                class="w-full h-full"
            />
        </div>
    </GridContainer> -->

    <GenericContent title={entry.data.title} quote={entry.data.quote}>
        <Content />
    </GenericContent>

    <Faq />
</RootLayout>
