---
import GridContainer from "@/layouts/GridContainer.astro";
import GridTwo from "@/layouts/grids/GridTwo.astro";
import GridSix from "@/layouts/grids/GridSix.astro";
import LogoTile from "@/components/LogoTile.astro";
import type { LogoTileProps } from "@/types";

const repos: LogoTileProps[] = [
  {
    logo: "/webpush-icon.svg",
    title: "Web Push Server",
    href: "/webpush",
  },
  {
    logo: "/gate-icon.svg",
    title: "Gate IdP",
    href: "/gate-idp",
  },
];
---

<GridContainer class="pb-16">
  <GridTwo>
    <div class="col-span-2">
      <h2 class="text-muted-foreground text-sm font-bold uppercase">
        Featured projects
      </h2>
    </div>
  </GridTwo>

  <GridSix gap="gap-4">
    {
      repos.map((repo) => (
        <div class="col-span-1">
          <LogoTile {...repo} />
        </div>
      ))
    }
  </GridSix>
</GridContainer>
