---
import GridContainer from "@/layouts/GridContainer.astro";
import GridFour from "@/layouts/grids/GridFour.astro";
import Button from "@/components/ui/astro/Button.astro";
import { DownloadIcon } from "@lucide/astro";
---

<GridContainer class="pb-24 items-center">
  <GridFour class="pb-16 md:pb-0">
    <div class="col-span-full md:pr-4">
      <div class="flex flex-col">
        <h2 class="text-3xl leading-normal mb-8">
          Pick any color on your screen with a global hotkey
        </h2>
        <a
          href="https://github.com/am25-labs/okrapk/releases/download/0.2.0/okrapk_0.2.0_x64-setup.exe"
          target="_blank"
          rel="noopener"
          class="w-fit mb-2"
        >
          <Button size="lg"><DownloadIcon />Install now (beta)</Button>
        </a>
        <p class="text-xs">* Only available for Windows</p>
      </div>
    </div>
  </GridFour>

  <GridFour>
    <div class="col-span-full">
      <img src="/hero.png" alt="Hero Image" class="w-full h-auto" />
    </div>
  </GridFour>
</GridContainer>
