---
import GridContainer from "@/layouts/GridContainer.astro";
import GridTwo from "@/layouts/grids/GridTwo.astro";
import GridSix from "@/layouts/grids/GridSix.astro";
import LogoTile from "@/components/LogoTile.astro";
import type { LogoTileProps } from "@/types";

const repos: LogoTileProps[] = [
  {
    logo: "/am25-logo.svg",
    title: "AM25",
    href: "https://am25.work",
  },
  {
    logo: "/creatyum-logo.svg",
    title: "Creatyum",
    href: "https://creatyum.media",
  },
];
---

<GridContainer class="pb-16">
  <GridTwo>
    <div class="col-span-2">
      <h2 class="text-sm font-bold uppercase">Supported by</h2>
    </div>
  </GridTwo>

  <GridSix>
    {
      repos.map((repo) => (
        <div class="col-span-1">
          <LogoTile {...repo} />
        </div>
      ))
    }
  </GridSix>
</GridContainer>
